{% extends 'home.html' %}
{% load static %}
<title>{% block title %}{{ title }}{% endblock %}</title>

{% block content %}
<section class="bg-white">
  <div class="text-center pt-6">
    <h1 class="rounded-2xl bg-indigo-500 px-2 py-1 text-white uppercase text-4xl">{{ title1 }}</h1>
  </div>

  <form method="post" enctype="multipart/form-data" class="mx-auto max-w-4xl py-8">
    {% csrf_token %}

    <div class="bg-white rounded-3xl p-6 shadow-md">
      {% if form.non_field_errors %}
        <div class="bg-red-50 border-l-4 border-red-500 p-4 mb-6">
          <h3 class="text-red-800 font-semibold">Errores:</h3>
          <ul class="list-disc list-inside text-red-700">
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if form.image.value %}
        <div class="text-center mb-6">
          <img src="{{ form.instance.get_image }}" alt="Perfil" class="w-24 h-24 rounded-full mx-auto object-cover shadow">
          <p class="text-sm text-gray-500 mt-2">Imagen actual</p>
        </div>
      {% endif %}

      {# Orden manual de campos #}
      {% include "security/usuario/_fields.html" with field=form.first_name %}
      {% include "security/usuario/_fields.html" with field=form.last_name %}
      {% include "security/usuario/_fields.html" with field=form.username %}
      {% include "security/usuario/_fields.html" with field=form.email %}

      {% if is_create or form.password.value or form.password2.value%}
        {% include "security/usuario/_fields.html" with field=form.password %}
        {% include "security/usuario/_fields.html" with field=form.password2 %}
      {% endif %}

      {% include "security/usuario/_fields.html" with field=form.dni %}
      {% include "security/usuario/_fields.html" with field=form.phone %}
      {% include "security/usuario/_fields.html" with field=form.direction %}
      {% include "security/usuario/_fields.html" with field=form.image %}
      {% include "security/usuario/_fields.html" with field=form.grupo %}


      <div class="flex justify-center gap-6 mt-8">
        <button type="submit"
          class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-6 rounded shadow-md transition">
          <i class="fa fa-save mr-2"></i> Guardar
        </button>
        <a href="{% url 'security:usuario_list' %}"
          class="bg-red-700 hover:bg-red-800 text-white py-2 px-6 rounded shadow-md transition">
          <i class="fa fa-times mr-2"></i> Cancelar
        </a>
      </div>
    </div>
  </form>
</section>
{% endblock %}

